* {margin: 0;}

.container {
    width: 900px;
    margin: 0 auto;
}

header {
    padding-top: 60px;
    padding-bottom: 60px;
}

.main-header {
    text-align: center
}

.main-header ul {
    padding: 0px;
    font-size: 0;
}

.main-header li {
    display: inline-block;
    margin-right: 120px;
    
  }

  .main-header li:not(:last-child){
    margin-right: 120px;
    }



.main-header a {
    display: block;
    font: 500 14px "Playfair display";
    line-height: 24px;
    text-transform: uppercase;
    color: #626262;
    text-decoration: none;
}

.article-section {
    display: block;
    text-align: justify;
       
}

.article-section article {
    display: inline-block;
    width: 420px;
    height: auto;
    margin-bottom: 80px
    
}
.underwrite {
    font: 300 14px Arial;
    line-height: 17px;
    text-transform: uppercase;
    margin: 32px 0; 
}


.article-section h2 {
    font: 500 30px "Playfair display";
    line-height: 36px;
    color: #626262;
    margin-bottom: 40px;
}
.article-section p {
    font: 300 14px "Playfair display";
    line-height: 24px;
    color: #626262;
}


.button-container {
    display: inline-block;
    width: 900px;
     text-align: center;
     margin-bottom: 60px;
    }

button {
    display:inline-block;
    width: 160px;
    height: 60px;
    background: #FFF;
    font: 500 20px "Playfair display";
    color: #626262;
    }
