html{
	box-sizing:border-box;
}

*,
*::before, 
*::after{
	box-sizing: inherit;
}

body {margin: 0;}

p {
    font: 300 14px "Playfair display";
    line-height: 24px;
    color: #626262;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

.container {
    width: 900px;
    margin: 0 auto;
}

header {
    margin-top: 60px;
    margin-bottom: 60px;
}

.main-header {
    text-align: center
}

.main-header ul {
    padding: 0px;
    font-size: 0;
}

.main-header li {
    display: inline-block
}

.main-header li:not(:last-child){
    margin-right: 120px;
    }



.main-header a {
    display: inline-block;
    font: 500 14px "Playfair display";
    line-height: 24px;
    text-transform: uppercase;
    color: #626262;
    text-decoration: none;
}

.content {
    padding: 0;
    list-style: none;
    font-size: 0;
}


/* .article-section {
    display: block;
    text-align: justify; */
       


.content li {
    display: inline-block;
    width: 420px;
    /* margin-bottom: 80px */
}

.content li:not(:nth-child(2n)){
    margin-right: 60px;
  }
  .content li:nth-child(-n + 4){
    margin-bottom: 60px;
  }


.underwrite {
    font: 300 14px Arial;
    line-height: 17px;
    text-transform: uppercase;
    margin: 32px 0; 
}


.content h2 {
    font: 500 30px "Playfair display";
    line-height: 36px;
    color: #626262;
    margin-bottom: 40px;
}



/* .button-container {
    display: inline-block;
    width: 900px;
     text-align: center;
     margin-bottom: 60px;
    } */

button {
     width: 160px;
    height: 60px;
    background: #FFF;
    font: 500 20px "Playfair display";
    color: #626262;
    margin-top:  60px;
    margin-bottom: 60px;
    margin-left: 400px
    }
