.main-menu_list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    min-width: 490px;
    justify-content: space-between;
}

.main-menu_link {
    display: block;
    font: 700 14px $secondary-font;
    color: $main-color;
    text-decoration: none;
    text-transform: uppercase;
    transition: ease-in 0.2s;
    position: relative;
}

.main-menu_link::after {
    display: block;
    content: '';
    width: 50px;
    height: 12px;
    border-bottom: 3px solid $secondary-color;
    opacity: 0;
    position: absolute;
    bottom: -15px;

}

.main-menu_link:hover {
    color: $secondary-color;
}
.main-menu_item:hover .main-menu_link::after{
    opacity: 1;
}