$main-color: #fff;
$secondary-color: #fce38a;
$dark-color: #333333;
$underline-color: #f38181;
$light-dark-color:#999999;

$main-font: "Roboto";
$writing-font: "Kaushan Script";
$secondary-font: "Montserrat";